.App {
  text-align: center;
}

.black-nav {
  display: flex;
  background-color: #344e41;
  color: white;
  width: 100%;
  padding-left: 20px;
}

div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

button {
  display: flex;
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #a3b18a;
  color: white;
}

button:hover {
  opacity: 0.6;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}
